layout {
    pane_template name="venv_python" {
	cwd "/home/tom/Projets/soil_model"
	command "zsh"
	args "-c" "source venv/bin/activate && exec zsh"
    }

    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
	pane {
		cwd "/home/tom/Projets/soil_model"
		command "vi"
	}
	pane split_direction="horizontal" {
		venv_python
		venv_python
	}
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
