layout {
    cwd "$HOME/Projets/tirrex_workspace/demos/soil_model_tirrex_configs/adap2e"
	pane {
		command "zsh"
		args "-i" "-c" "docker_run"
	}

    floating_panes {
        pane {
	    command "ls"
	    //args "compose" "up" "rviz"
	}
    }
}
